.container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin: 1em 0.5em 0 0;
}
.link {
  color: white;
}

.draw {
  padding: 0.3em;
  background: black;
  color: white;
  border: 0;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px black;
  font-size: inherit;
  font-weight: 200;
  border-radius: 5px;
  transition: color 0.25s;
}

.draw::after {
  content: '';
  position: absolute;
  background: orange;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.draw:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.draw:hover {
  cursor: pointer;
  color: orange;
}

.active {
  padding: 0.3em;
  background: black;
  color: white;
  border: 0;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px black;
  font-size: inherit;
  font-weight: 200;
  border-radius: 5px;
  color: orange;
  border-bottom: 2px solid orange;
}
