.form {
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 50vh;
	width: 350px;
	border: 1px solid lightgray;
	border-radius: 5px;
	margin: 0 auto;
	background-color: lightseagreen;
}

.form h2 {
	font-size: 1.25rem;
}

.inputs {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}

.inputs > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1;
	gap: 10px;
	width: 50%;
}

.inputs label {
	color: white;
}

.inputs > div > input,
.inputs > div > select {
	padding: 10px;
	border: none;
	border-radius: 3px;
}
