.ddPosition {
  position: absolute;
  top: auto;
  left: auto;
}

.textCenter {
  position: absolute;
  top: 40%;
  left: 30%;
  font-size: x-large;
}

.listItem {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

@media screen and (max-width: 1440px) {
  .textCenter {
    font-size: 30px;
    top: 35%;
    left: 25%;
  }

  .ddPosition {
    top: 5%;
    left: 5%;
  }
}

@media screen and (max-width: 1024px) {
  .textCenter {
    font-size: 30px;
    top: 40%;
    left: 17%;
  }

  .ddPosition {
    top: auto;
    left: auto;
  }
}

@media screen and (max-width: 768px) {
  .textCenter {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    top: 45%;
    left: 20%;
  }

  .ddPosition {
    top: auto;
    left: auto;
  }
}

@media screen and (max-width: 425px) {
  .textCenter {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    top: 45%;
    left: 2%;
  }

  .ddPosition {
    top: auto;
    left: auto;
  }
}

@media screen and (max-width: 375px) {
  .textCenter {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    top: 45%;
    left: 3%;
  }

  .ddPosition {
    top: auto;
    left: auto;
  }
}

@media screen and (max-width: 320px) {
  .textCenter {
    font-size: smaller;
    top: 45%;
    left: 3%;
  }

  .ddPosition {
    top: auto;
    left: auto;
  }
}
