.container {
    position: relative;
    color: white;
}

.backgroundImage {
    margin-top: -60px;
    margin-left: -7.5px;
    width: 100vw;
    height: 100vh;
    float: left;
    position: relative;
    background-size: cover;
    background-image: url(../../assets/images/jump-bg.avif);
}

.textCenter {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
}

.listItem {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.listItem:hover {
    border: 2px solid orange;
}