li {
    list-style: none;
    padding: .5em 0 .2em 0;
}

.ddContainer > div {
    height: 4px;
    background-color: white;
    margin: 5px 0;
    border-radius: 25px;
    transition: 0.3s;
}

.ddContainer {
    display: block;
    width: 30px;
    margin: 1em 0 0 1em;    
}

.lineOne {
    width: 30px;
}

.lineTwo {
    width: 20px;
}

.lineThree {
    width: 25px;
}

.ddContainer:hover div {
    width: 30px;
    background-color: orange;
}

.ddContainer:hover {
    cursor: pointer;
}

.ddListContainer {
    margin-left: 1em;
}

.ddList {
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: 500;
}

.listItem {
    text-decoration: none;
    margin-bottom: 1em 0 0 1em;
    padding: 0 .5em 0 .5em;
    color: white;
    transition: color .25s;
}

.listItem:hover {
    color: orange;
    border-left: 2px solid orange;
    border-right: 2px solid orange;
    transition: .25s ease-in;
}



@media only screen and (max-width: 1400px) and (min-width: 1100px) {
    .ddContainer > div {
        height: 8px;
    }
    .lineOne {
        width: 40px;
    }

    .lineTwo {
        width: 30px;
    }

    .lineThree {
        width: 35px;
    }

    .ddContainer:hover div {
        width: 40px;
    }
}