.ddContainer {
    width: 8em;
    margin: 0 auto;
}

.ddHeader {
    margin-bottom: 0.8em;
    padding: 0.4em 2em 0.4em 1em;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 1.3rem;
    color: #3faffa;
    background: #ffffff;
}

.ddList {
    text-decoration: none;
    margin: 1px;
    padding: 2px;
    background: #ffffff;
    border: 2px solid #e5e5e5;
    box-sizing: border-box;
    color: #3faffa;
    font-size: 1.3rem;
    font-weight: 500;
}

.listItem {
    text-decoration: none;
    margin-bottom: 0.8em;
}

