li {
    list-style: none;
}

/* .ddContainer {
    display: flex;
    width: 8em;
    margin: 0 auto;
} */

.ddHeader {
    margin: .8em;
    padding: 0.4em .5em 0.4em .5em;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 1.3rem;
    background: #ffffff;
    color: #1fa1f8;
    border-radius: 10px;
}

.ddHeader:hover {
    cursor: pointer;
}

.ddListContainer {
    margin-left: 1em;
}

.ddList {
    text-decoration: none;
    margin: 1px;
    padding: 7px;
    background: #1fa1f8;
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    box-sizing: border-box;
    color: #1fa1f8;
    font-size: 1.3rem;
    font-weight: 500;
}

.listItem {
    text-decoration: none;
    margin-bottom: 0.8em;
    color: white;
}

.listItem:hover {
    background-color: #ffffff;
    color: #1fa1f8;
    padding: 2px;
}